{% extends 'evaluaciones/base.html' %}
{% block content %}
<h2 class="section-title">Crear Empresa</h2>
<hr class="color"> {% if errors %}
<div class="alert alert-info">
    <p>
        {{messages}}</p>
</div>
{% endif %}
<form class="form-horizontal" autocomplete="off" method="post">
    <fieldset class="container">
        {% csrf_token %} {% for field in form %}
        <div class="form-group roe label-floating">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="zmdi zmdi-account"></i>
                </span>
                <label class="control-label" for="ms-form-user"> {{field.label_tag}} </label>
                <input type="hidden" id="" class="form-control" required>{{ field }}
            </div>
        </div>
        {% endfor %}
        <div class="col-md-4">
            <button class="btn btn-raised btn-primary pull-left" type="submit" value="Save">Guardar</button>
        </div>
    </fieldset>
</form>
{% endblock%}