{% extends 'evaluaciones/base_empresa.html' %}
{% load static %}
{% block pantalla %}
<section class="content-header">
  <h1>
    Configuración
    <small>{{empresa.nombre}}</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
    <li class="active">Crear puesto</li>
  </ol>
</section>      
{% endblock %}
{% block content %}
<div class="row">
    <!-- left column -->
    <div class="col-md-11">
        <!-- general form elements -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-light alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <i class="fa fa-close"></i>
                    </button>
                    <p></p>
                    <strong><i class="fa fa-check"></i>{{ message }}</strong> 
                </div>

            {% endfor %}
        {% endif %}

        <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Registrar Evaluacion</h3>              
              <a href="{% url 'evaluaciones:listar_criterios' empresa.pk %}" class="btn btn-sm btn-raised btn-default pull-right"><i class="fa fa-list">&nbsp;</i> Listar Evaluaciones</a>
            </div><!-- /.box-header -->
                <!-- form start -->
            <form role="form" class="form-horizontal" id="form_evaluacion" onsubmit="" enctype="multipart/form-data" method="post">
                <div class="box-body">
                    {% csrf_token %} 
                    {% for field in form %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="{{field.name}}"> {{field.label}} </label>
                        <div class="col-sm-10">
                            {{ field }}
                        </div>
                    </div>
                    {% endfor %}
                    {% if periodos %}
                    {% for periodo in periodos %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Periodo</label>
                        <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder={{periodo.year}} disabled>
                        </div>                        
                        <label class="col-sm-2 control-label">Mes</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder={{periodo.month_inicial}} disabled>
                        </div>
                        <input type="text" id="periodo_id" value={{periodo.id}} hidden>
                    </div>                    
                    {% endfor %}
                     {% endif %}
                    <br>
                    <br>
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <p><strong><h2 class="box-title">Criterios a Evaluar</h2></strong></p>
                        </div>  
                        <a class="btn btn-app" onclick="modal()">
                            <i class="fa fa-save"></i> Agregar Criterios
                        </a>
                        <a class="btn btn-app" id="quitar_">
                            <i class="fa fa-eraser"></i> Quitar Criterios
                        </a>                                           
                        
                        <div class="box-body">
                            <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                <div class="row">
                                    <div class="col-sm-6"></div>
                                    <div class="col-sm-6"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="example1" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending"
                                                        aria-label="Rendering engine: activate to sort column descending">Seleccionar</th>
                                                    <th class="sorting" tabindex="1" aria-controls="example2" rowspan="1" colspan="1"
                                                        aria-label="Browser: activate to sort column ascending">Criterio</th>
                                                    <th class="sorting" tabindex="2" aria-controls="example2" rowspan="1" colspan="1"
                                                        aria-label="Platform(s): activate to sort column ascending">Descripcion</th>
                                                    <th class="sorting" tabindex="3" aria-controls="example2" rowspan="1" colspan="1"
                                                        aria-label="Engine version: activate to sort column ascending">Ponderación</th>                                                    
                                                    <th class="sorting" tabindex="3" aria-controls="example2" rowspan="1" colspan="1" 
                                                    aria-label="Engine version: activate to sort column ascending">Porcentaje Meta</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                           
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th rowspan="1" colspan="1">Seleccionar</th>
                                                    <th rowspan="1" colspan="1">Criterio</th>
                                                    <th rowspan="1" colspan="1">Descripcion</th>
                                                    <th rowspan="1" colspan="1">Ponderación</th>                                                    
                                                    <th rowspan="1" colspan="1">Porcentaje meta</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>                  
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <input type="hidden" name="GuardarNuevo" id="SaveNew" disabled="disabled" />
                <div class="box-footer">
                    <div class="col-md-3 col-md-offset-6">
                        <button class="btn btn-raised btn-primary pull-left" type="submit" onclick="$('#SaveNew').removeAttr('disabled');" value="SaveNew"><i class="fa fa-save"></i>&nbsp;Guardar y nuevo</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-raised btn-primary pull-left" type="submit" onclick="$('#SaveNew').attr('disabled','disabled')" value="SaveList"><i class="fa fa-send"></i>&nbsp;Guardar y listar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="example-modal">
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">                   
                    <div class="col-sm-12">
                        <br>
                        <br>
                        <br>
                        <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Seleccionar</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Criterio</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Descripcion</th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% if criterios %} {% for criterio in criterios%}
                                <tr role="row" class="odd">
                                   
                                    <td>                                         
                                        {{ criterio.id }}
                                    </td>
                                    <td>
                                        {{ criterio.nombre }}
                                    </td>
                                    <td>
                                        {{ criterio.descripcion}}
                                    </td>
                                </tr>
                                {% endfor %} {% endif %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th rowspan="1" colspan="1">Seleccionar</th>
                                    <th rowspan="1" colspan="1">Criterio</th>
                                    <th rowspan="1" colspan="1">Descripcion</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <form action="" role="form" form id="form_modal" class="form-horizontal" enctype="multipart/form-data">                  
                    <div class="box-footer">
                        <div class="col-md-3 col-md-offset-6">                          
                            
                                <a class="btn btn-app" onclick="criterios()"  id="agregar_">
                                    <i class="fa fa-save"></i> Agregar Criterios
                                </a>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
{% endblock%}

{% block script %}
<script src="{% static 'evaluaciones/plugins/jQueryUI/jquery-ui.js' %}"></script>
<script src="{% static 'evaluaciones/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'evaluaciones/plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<script type="text/javascript">
    var tabla1 = $("#example1").DataTable({
        "language": {
            "lengthMenu": "Mostrar _MENU_ registros por pagina",
            "search": "Buscar:",
            "zeroRecords": "Ningún Registro encontrado",
            "info": "Mostrando pagina _PAGE_ de _PAGES_",
            "infoEmpty": "Registros no disponibles",
            "infoFiltered": "(filtrado de  _MAX_ registros totales)",
            "paginate": {
                "previous": "Anterior",
                "next": "Siguiente"
            }
        }
    });

    var tabla2 = $("#example2").DataTable({
        "language": {
            "lengthMenu": "Mostrar _MENU_ registros por pagina",
            "search": "Buscar:",
            "zeroRecords": "Ningún Registro encontrado",
            "info": "Mostrando pagina _PAGE_ de _PAGES_",
            "infoEmpty": "Registros no disponibles",
            "infoFiltered": "(filtrado de  _MAX_ registros totales)",
            "paginate": {
                "previous": "Anterior",
                "next": "Siguiente"
            }
        }
    });
    //Manipulación da la tabla 

    $('#example2 tbody').on( 'click', 'tr', function () {        
        $(this).toggleClass('selectedin');
    } );   

    $('#example1 tbody').on('click', 'tr', function () {
            $(this).toggleClass('selectedout');
        }); 
  // Datos en la tabla Modal la tabla 1 , esta sirve de intercambio.
    $('#agregar_').click( function () {
        var datos = tabla2.rows('.selectedin').data();        
        datos.each(function (value, index) {
            a = value
            tabla1.row.add([a[0],a[1],a[2], '<input type="number" value="0.00"  required  />', '<input type="number" value="20.00"  required />']).draw().node();

        });
        //quitar seleccionados y hacer intercambio, regresar al modal
        tabla2.rows('.selectedin').remove().draw()    
        // actualizartabla (arreglo_nuevos        
    } );

    // Datos en la tabla principal la tabla 1 , esta sirve de intercambio.
    $('#quitar_').click(function () {
        var datos = tabla1.rows('.selectedout').data();
        datos.each(function (value, index) {
            a = value
            tabla2.row.add([a[0], a[1], a[2]]).draw().node();
        });
        //quitar seleccionados y hacer intercambio, regresar al modal
        tabla1.rows('.selectedout').remove().draw()
        // actualizartabla (arreglo_nuevos      
    });

    function modal(criterio_id) {       
        $('#myModal').modal();
    };
    function criterios(a) {
    var array = [];    
        // actualizartabla(array)
    }

     var puesto = document.getElementById("id_puesto");
     var puesto_id = 0;
     puesto.addEventListener('change',
            function () {
                var selectedOption = this.options[puesto.selectedIndex];
                console.log(selectedOption.value );
                puesto_id = selectedOption.value;
            });

  
    $('#form_evaluacion').on('submit', function (e) {
        e.preventDefault();               
        console.log('Guardando')
        var datos = tabla1.rows().data();
        var arreglo_nuevos = [];
        datos.each(function (value, index) {
            a = value            
            //arreglo_nuevos.push(a.toString().split(",", 1))
            arreglo_nuevos.push(a.toString())
        });
        for (let index = 0; index < arreglo_nuevos.length; index++) {            
            const element = arreglo_nuevos[index];
            const primer_reemplazo = element.replace('<input type="number" value="', '')                  
            const segundo_reemplazo = primer_reemplazo.replace('"  required  />', '') 
            const tercer_reemplazo = segundo_reemplazo.replace('<input type="number" value="', '')   
            arreglo_nuevos[index] = tercer_reemplazo.replace('"  required />', '') 
            alert(arreglo_nuevos)
        }
        alert(arreglo_nuevos)
        guardar(arreglo_nuevos, puesto_id)
    })
      function guardar(arreglo_nuevos, puesto_id) {
           periodo_id = document.getElementById('periodo_id').value
           console.log(periodo_id);
            console.log('intentaremos guardar');
            console.log(puesto_id)
            arreglo = []
            $.ajax({
                method: "POST",
                url: "{% url 'evaluaciones:guardar_evaluacion' %}",
                data: { 
                    'array[]': arreglo_nuevos,
                    'puesto_id' : puesto_id, 
                    csrfmiddlewaretoken: '{{ csrf_token }}', 
                    empresa_id: '{{ empresa.pk }}',
                    periodo_id: periodo_id }
            }).done(function (msg) {
                location.reload();
            });
        } 
    
$("#id_empresa").val("{{empresa.pk}}");
$("#id_empresa").attr('disabled','disabled');
</script>

<style>
    tr.selectedin{
        background-color:#afddd1        
        }
    tr.selectedout{background-color:#a39797c0}
   </style>
{% endblock %}
