{% extends 'evaluaciones/base_empresa.html' %}
{% load static %}
{% block pantalla %}
<section class="content-header">
  <h1>
    Configuración
    <small>{{empresa.nombre}}</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
    <li class="active">Crear puesto</li>
  </ol>
</section>      
{% endblock %}
{% block content %}
<div class="row">
    <!-- left column -->
    <div class="col-md-11">
        <!-- general form elements -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-light alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <i class="fa fa-close"></i>
                    </button>
                    <p></p>
                    <strong><i class="fa fa-check"></i>{{ message }}</strong> 
                </div>

            {% endfor %}
        {% endif %}

        <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Registrar Evaluacion</h3>              
              <a href="{% url 'evaluaciones:listar_criterios' empresa.pk %}" class="btn btn-sm btn-raised btn-default pull-right"><i class="fa fa-list">&nbsp;</i> Listar Evaluaciones</a>
            </div><!-- /.box-header -->
                <!-- form start -->
            <form role="form" class="form-horizontal" id="form_evaluacion" onsubmit="" enctype="multipart/form-data" method="post">
                <div class="box-body">
                    {% csrf_token %} 
                    {% for field in form %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="{{field.name}}"> {{field.label}} </label>
                        <div class="col-sm-10">
                            {{ field }}
                        </div>
                    </div>
                    {% endfor %}
                    {% if periodos %}
                    {% for periodo in periodos %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Periodo</label>
                        <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder={{periodo.year}} disabled>
                        </div>                        
                        <label class="col-sm-2 control-label">Mes</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder={{periodo.month_inicial}} disabled>
                        </div>
                        <input type="text" id="periodo_id" value={{periodo.id}} hidden>
                    </div>                    
                    {% endfor %}
                     {% endif %}
                    <br>
                    <br>
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <p><strong><h2 class="box-title">Criterios a Evaluar</h2></strong></p>
                        </div>  
                        <a class="btn btn-app" onclick="modal()">
                            <i class="fa fa-save"></i> Agregar Criterios
                        </a>
                        <a class="btn btn-app" id="quitar_">
                            <i class="fa fa-eraser"></i> Quitar Criterios
                        </a>
                        <div class="alert alert-warning" role="alert" id="alert_modallleno" hidden>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">                                
                            </button>
                            <p></p>
                            <strong>
                                <i class="fa fa-check"></i> Todos los criterios disponibles fueron seleccionados </strong>
                        </div>                        

                        <div class="alert alert-error" role="alert" id="alert_error" hidden>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">                                
                            </button>
                            <p></p>
                            <strong>
                                <i class="fa fa-check"></i>Error¡¡¡  la suma de la columna "Ponderación" no es igual a 100.00 </strong>
                        </div>

                        <div class="box-body">
                            <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                <div class="row">
                                    <div class="col-sm-6"></div>
                                    <div class="col-sm-6"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="example1" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending"
                                                        aria-label="Rendering engine: activate to sort column descending">Id</th>
                                                    <th class="sorting" tabindex="1" aria-controls="example2" rowspan="1" colspan="1"
                                                        aria-label="Browser: activate to sort column ascending">Criterio</th>
                                                    <th class="sorting" tabindex="2" aria-controls="example2" rowspan="1" colspan="1"
                                                        aria-label="Platform(s): activate to sort column ascending">Descripcion</th>
                                                    <th class="sorting" tabindex="3" aria-controls="example2" rowspan="1" colspan="1"
                                                        aria-label="Engine version: activate to sort column ascending">Ponderación</th>
                                                    <th class="sorting" tabindex="3" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Tipo de Objetivo</th>
                                                    <th class="sorting" tabindex="3" aria-controls="example2" rowspan="1" colspan="1" 
                                                    aria-label="Engine version: activate to sort column ascending">Porcentaje Meta</th>
                                                    <th class="sorting" tabindex="3" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Opciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                           
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th rowspan="1" colspan="1">Id</th>
                                                    <th rowspan="1" colspan="1">Criterio</th>
                                                    <th rowspan="1" colspan="1">Descripcion</th>
                                                    <th rowspan="1" colspan="1">Tipo de Objetivo</th>
                                                    <th rowspan="1" colspan="1">Ponderación</th>                                                    
                                                    <th rowspan="1" colspan="1">Porcentaje meta</th>
                                                    <th rowspan="1" colspan="1">Opciones</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>                  
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <input type="hidden" name="GuardarNuevo" id="SaveNew" disabled="disabled" />
                <div class="box-footer">
                    <div class="col-md-3 col-md-offset-6">
                        <button class="btn btn-raised btn-primary pull-left" type="submit" onclick="$('#SaveNew').removeAttr('disabled');" value="SaveNew"><i class="fa fa-save"></i>&nbsp;Guardar y nuevo</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-raised btn-primary pull-left" type="submit" onclick="$('#SaveNew').attr('disabled','disabled')" value="SaveList"><i class="fa fa-send"></i>&nbsp;Guardar y listar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="example-modal">
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">                
                <div class="modal-header">                   
                    <div class="alert alert-error" role="alert" id="alert_errormodal" hidden>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">                            
                        </button>
                        <p></p>
                        <strong>
                            <i class="fa fa-check"></i>Error¡¡¡ seleccione al menos un criterio </strong>
                    </div>
                    <div class="col-sm-12">
                        <br>
                        <br>
                        <br>
                        <table id="criterios_table" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Id</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Criterio</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Descripcion</th>                                    
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Tipo Objetivo</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>                               
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th rowspan="1" colspan="1">Id</th>
                                    <th rowspan="1" colspan="1">Criterio</th>
                                    <th rowspan="1" colspan="1">Descripcion</th>
                                    <th rowspan="1" colspan="1">Tipo Objetivo</th>
                                    <th rowspan="1" colspan="1">Opciones</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <form action="" role="form" form id="form_modal" class="form-horizontal" enctype="multipart/form-data">                  
                    <div class="box-footer">
                        <div class="col-md-3 col-md-offset-6">                          
                            
                                <a class="btn btn-app" onclick="criterios()"  id="agregar_">
                                    <i class="fa fa-save"></i> Agregar Criterios
                                </a>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
{% endblock%}

{% block script %}

<script src="{% static 'evaluaciones/plugins/jQueryUI/jquery-ui.js' %}"></script>
<script src="{% static 'evaluaciones/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'evaluaciones/plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<script type="text/javascript">
    $(function () {
            var puesto_id = 0
            var bquitar_ = document.getElementById("quitar_");
            var bmodificar_ = document.getElementById("modificar_");
            var puesto = document.getElementById("id_puesto");
            var contador = 0
            puesto.addEventListener('change',                   
                function () {  
                   if ($.fn.dataTable.isDataTable('#example1')) {
                        tabla_  = $('#example1').DataTable();
                        tabla2 = $('#criterios_table').DataTable();
                        var datos = tabla_.rows().data()
                        var tamaño = datos.length
                        if( tamaño != 0 ){                                                                              
                            tabla_.rows().remove().draw()
                            }
                            }
                    var selectedOption = this.options[puesto.selectedIndex];                    
                    puesto_id = selectedOption.value; 
                    periodo_id = document.getElementById('periodo_id').value                                 
                    var tabla = $("#criterios_table").DataTable({                          
                        "processing": true,
                        "destroy": true,
                        "ajax": {
                            type: 'post',
                            "processing": true,
                            "url": '{% url "evaluaciones:actualizar_tablacriterios" %}',
                            "data": {
                                csrfmiddlewaretoken: '{{ csrf_token }}',
                                empresa_id: '{{ empresa.pk }}',
                                puesto_id: puesto_id,
                                periodo_id: periodo_id
                            },
                            "dataSrc": ""
                        },
                        "columns": [
                            { "data": "id" },
                            { "data": "nombre" },
                            { "data": "descripcion" },
                            { "data": "objetivo__nombre" },                       
                            { "data": "opciones", 
                               "render": function (data, type, ssrow, meta) {
                                   console.log(data)
                                    return ' <p class="seleccionado_" id="icon_' + ssrow.id + '" hidden><i class="fa fa-check-circle"  ></i></p >';
                                }},   
                        ],
                        "language": {
                            "lengthMenu": "Mostrar _MENU_ registros por pagina",
                            "search": "Buscar:",
                            "zeroRecords": "Ningún Registro encontrado",
                            "info": "Mostrando pagina _PAGE_ de _PAGES_",
                            "infoEmpty": "Registros no disponibles",
                            "infoFiltered": "(filtrado de  _MAX_ registros totales)",
                            "paginate": {
                                "previous": "Anterior",
                                "next": "Siguiente"
                            }
                        }
                    });
                 var tabla1 = $("#example1").DataTable({                       
                       "destroy": true,
                        "language": {
                            "lengthMenu": "Mostrar _MENU_ registros por pagina",
                            "search": "Buscar:",
                            "zeroRecords": "Ningún Registro encontrado",
                            "info": "Mostrando pagina _PAGE_ de _PAGES_",
                            "infoEmpty": "Registros no disponibles",
                            "infoFiltered": "(filtrado de  _MAX_ registros totales)",
                            "paginate": {
                                "previous": "Anterior",
                                "next": "Siguiente"
                            }
                        }
                    });                  
                });
    });
   
       //Manipulación da la tabla 

    $('#criterios_table tbody').on( 'click', 'tr', function () {        
        var tabla = $("#criterios_table").DataTable();
        $(this).toggleClass('selectedin');                        
        var elemento = "icon_" + tabla.row(this).data().id;
        var elemento_ = document.getElementById(elemento); 
        console.log(tabla.row(this).data().id)                   
        if (elemento_.hidden) {            
            elemento_.hidden = false;
        }
        else {
            elemento_.hidden = true;
        }
    } );   

    $('#example1 tbody').on('click', 'tr', function () {
        var tabla1 = $("#example1").DataTable();
        console.log('Valores de la tabla:'+  tabla1.row(this).data())

        $(this).toggleClass('selectedout');
        var elemento = "icon_" + tabla1.row(this).data()[0];
        var elemento_ = document.getElementById(elemento);
        if (elemento_.hidden) {
            elemento_.hidden = false;
        }
        else {
            elemento_.hidden = true;
        }
    }); 
  // Datos en la tabla Modal la tabla 1 , esta sirve de intercambio.
    $('#agregar_').click( function () {
        var tabla = $("#criterios_table").DataTable();
        var tabla1 = $("#example1").DataTable();
        var datos = tabla.rows('.selectedin').data();
        console.log(datos)
        var error_alert = document.getElementById("alert_errormodal")
        if(datos.length == 0){            
            error_alert.hidden = false
        }else{
            error_alert.hidden = true
            datos.each(function (value, index) {
                a = value
                console.log('El valor es' + a[0])
                tabla1.row.add([a.id, a.nombre, a.descripcion, a.objetivo__nombre, '<input type="text" id="p' + a.id + '" pattern="[0-9]+(\.[0-9][0-9]?)?" tittle="Debe ser un valor de 5 digitos con dos valores decimales, ej: 100.00" required  />', '<input type="text"  id="m' + a.id + '" pattern="[0-9]+(\.[0-9][0-9]?)?" tittle="Debe ser un valor de 5 digitos con dos valores decimales, ej: 100.00"  required />', ' <p class="seleccionado_" id="icon_' + a.id + '" hidden><i class="fa fa-check-circle"  ></i></p >']).draw().node();

                
            });
            //quitar seleccionados y hacer intercambio, regresar al modal
            tabla.rows('.selectedin').remove().draw()
            $('#myModal').modal('hide');
        // actualizartabla (arreglo_nuevos        
        }        
    } );

    // Datos en la tabla principal la tabla 1 , esta sirve de intercambio.
    $('#quitar_').click(function () {
        var tabla1 = $("#example1").DataTable();
        var tabla2 = $("#criterios_table").DataTable();
        var datos = tabla1.rows('.selectedout').data();  
        console.log(datos)      
        datos.each(function (value, index) {
            a = value   
            console.log(a[0])           
            //tabla2.row.add([a[0], a[1], a[2],a[3], ' <p class="seleccionado_" id="icon_' + a[0] + '" hidden><i class="fa fa-check-circle"  ></i></p >']).draw().node();
            tabla2.rows.add([{
                "id" : a[0],
                "nombre" : a[1],
                "descripcion": a[2],
                "objetivo__nombre": a[3],
                "opciones": '<p class="seleccionado_" id="icon_' + a[0] + '" hidden><i class="fa fa-check - circle"></i></p >'
                }]).draw();
        });
        var datos_llenos = tabla2.rows().data();  
         datos_llenos.each(function (value, index) {
            a = value
            console.log(a)
          
        });
        //quitar seleccionados y hacer intercambio, regresar al modal
        tabla1.rows('.selectedout').remove().draw()
        alert_modallleno.hidden = true;
        // actualisartabla (arreglo_nuevos      
    });

    function modal(criterio_id) {
        //var datos = tabla2.rows().data();
        //if(datos.length != 0){
            $('#myModal').modal();
         //   alert_modallleno.hidden = true;
        //}else{            
        //    alert_modallleno.hidden = false;
             console.log('No hay datos')
        //}
        
    };
    function criterios(a) {
    var array = [];    
        // actualizartabla(array)
    }

     var puesto = document.getElementById("id_puesto");
     var puesto_id = 0;
     
     puesto.addEventListener('change',
            function () {
                var selectedOption = this.options[puesto.selectedIndex];
                console.log(selectedOption.value );
                puesto_id = selectedOption.value;
                console.log("El puesto que selecciono es: " + puesto_id)
            });
    function recarga_contexto() {
                $.ajax({
            type: 'GET',
            url: "{% url 'evaluaciones:crear_evaluacion' pk=empresa.id  %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                pk: '{{ empresa.pk }}'               
            } ,
            success: function (response) {
                console.log(response)
            }
        });

        console.log("done here");
    }
    
    $('#form_evaluacion').on('submit', function (e) {  
        var tabla1 = $('#example1').DataTable();
        // var tabla1 = $("#example1").DataTable();
        alert_error = document.getElementById('alert_error')
        e.preventDefault()                
        var datos = tabla1.rows().data();        
        var arreglo_nuevos = [];
        var ponderaciones = [];
        var metas = [];
        //Recorremos la tabla sacando los ids de los criterios y los valores de los inputs.
        //Generamos 3 arreglos para luego revisar
        centinela = " "
        datos.each(function (value, index) {        
            a = value        
            var pon = "p" + a.toString().split(",", 1)
            var met = "m" + a.toString().split(",", 1)
            centinela = "p" + a.toString().split(",", 1)
            arreglo_nuevos.push(a.toString().split(",", 1))           
            ponderaciones.push(document.getElementById(pon).value)
            metas.push(document.getElementById(met).value)
        });   
        var suma = sumar_array(ponderaciones);     
        console.log('el valor de la suma es: ' + suma)
        if(suma != 100){
            console.log('NÚMERO ERRONEO')
            document.getElementById(centinela).focus()            
            alert_error.hidden = false;
        }else{
            console.log('falso')
            alert_error.hidden = true;
            guardar(arreglo_nuevos,ponderaciones,metas, puesto_id)
            } 
    });
     function sumar_array(letras) {
         console.log(letras);         
         var numbers = letras.toString().split(',').map(function (item) {
             console.log('El item es:' + item)
             return parseFloat(item);
         });   
         console.log(numbers);  
         sum=0          
           acum = 0;
          for (var i = 0; i < numbers.length; i++) {
             sum += numbers[i]
         }
         console.log(sum)                           
            return sum;
        }
      function guardar(ids,ponderaciones,metas, puesto_id) {
           periodo_id = document.getElementById('periodo_id').value           
            arreglo = []
            $.ajax({
                method: "POST",
                url: "{% url 'evaluaciones:guardar_evaluacion' %}",
                data: { 
                    'ids[]': ids,
                    'ponderaciones[]': ponderaciones,
                    'metas[]': metas,
                    'puesto_id' : puesto_id, 
                    csrfmiddlewaretoken: '{{ csrf_token }}', 
                    empresa_id: '{{ empresa.pk }}',
                    periodo_id: periodo_id }
            }).done(function (msg) {
                location.reload();
            });
        } 
    
$("#id_empresa").val("{{empresa.pk}}");
$("#id_empresa").attr('disabled','disabled');
</script>

<style>
    input:invalid {
    border-color: red;
}
input,
input:valid {
    border-color: #2ecc71;
}   
    tr{
        cursor: pointer;
    }
    p.seleccionado_{
        color: green;
        text-align: center
    }
    p.quitado_{
        color: green;
        text-align: center
    }
    tr.selectedin{
        background-color:#afddd1        
        }
    tr.selectedout{background-color:#a39797c0}
   </style>
{% endblock %}
