{% extends 'evaluaciones/base.html'%}
{% load static %}
{% block style %}
<!-- DataTables -->
    <link rel="stylesheet" href="{% static 'evaluaciones/plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock %}
{% block pantalla %}
<section class="content-header">
  <h1>
    Configuración
    <small>Empresas</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
    <li class="">Empresas</li>
    <li class="active">Listar empresa</li>
  </ol>
</section>      
{% endblock %}
{% block content %}
    <section class="ms-component-section">
<div class="row">
    <!-- left column -->
    <div class="col-md-10">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-light alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <i class="fa fa-close"></i>
                    </button>
                    <p></p>
                    <strong><i class="fa fa-check"></i> Éxito! {{ message }}</strong> 
                </div>

            {% endfor %}
        {% endif %}
        <div class="box">
            <div class="box-header">
              <h3 class="box-title">Listado de empresas registradas</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <table id="empresas" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>RTN</th>
                            <th>Licencias</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for empresa in object_list %}
                        <tr>
                            <td>{{empresa.id}}</td>
                            <td>{{ empresa.nombre }}</td>
                            <td>{{ empresa.rtn}}</td>
                            <td>{{ empresa.licencias}}/{{ empresa.licencias}}</td>
                            <td>
                                {% if empresa.estado %}                             
                                <a href="#" id="id_{{empresa.pk}}" name="desactivar" onclick="modal('{{ empresa.pk }},{{empresa.estado}},{{empresa.nombre}}')" data-toggle="tooltip" data-placement="top" title="Inactivar empresa"><small class="label pull-center bg-green">Activo</small>
                                </a>
                                {% else %}
                                <a href="#" id="id_{{empresa.pk}}" name="activar" onclick="modal('{{ empresa.pk }},{{empresa.estado}},{{empresa.nombre}}')" data-toggle="tooltip" data-placement="top" title="Activar empresa"><small class="label pull-center bg-red">Inactivo</small>
                                </a>
                                {% endif %}
                            </td>
                            <td>                                <a href="{% url 'evaluaciones:crear_empresa'%}" class="btn-circle btn-circle-xs btn-circle-raised btn-circle-info" data-toggle="tooltip" data-placement="top" title="Agregar empresa"><i class="fa fa-plus text-green"></i></a> &nbsp;&nbsp;
                                <a href="{% url 'evaluaciones:actualiza_empresa' empresa.id %}" class="btn-circle btn-circle-xs btn-circle-raised btn-circle-info" data-toggle="tooltip" data-placement="top" title="Editar empresa"><i class="fa fa-edit"></i></a> &nbsp;&nbsp;
                                <a href="{% url 'evaluaciones:principal_empresa' empresa.id %}" class="btn-circle btn-circle-xs btn-circle-raised btn-circle-success" data-toggle="tooltip" data-placement="top" title="Administrar"><i class="fa fa-cog text-orange">&nbsp;&nbsp;</i></a>                      
                            </td>
                        </tr>                        
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>RTN</th>
                            <th>Licencias</th>
                            <th>Acciones</th>
                        </tr>
                    </tfoot>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>
<div class="example-modal">
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="location.reload();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Cambiar estado</h4>
                </div>
                <form action="" role="form" id="form_modal" class="form-horizontal" enctype="multipart/form-data">
                    <div class="box-body" id="div_body">
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><i class="fa fa-close">&nbsp;</i>Cancelar</button>
                        <button class="btn btn-raised btn-success pull-right" id="activar_" type="submit" value="Confirm"><i class="fa fa-check">&nbsp;</i>Aceptar</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
</section>
{% endblock %}
{% block script %}
<script src="{% static 'evaluaciones/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'evaluaciones/plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<script>
function modal(datos) {                
        arreglo = datos.split(",", 3)  
        estado = arreglo[1] == 'True' ? 'Inactivo' : 'Activo';
        $("#div_body").html("¿Está seguro que desea cambiar el estado a <b>"+ estado + '</b> de la empresa '+arreglo[2]+'?')     
        $('#myModal').modal();
        if(arreglo[1] == 'True'){
            arreglo[1] = 1
        }else{
            arreglo[1] = 0
        }
        console.log(arreglo)
        $('#form_modal').on('submit', function (e) {            
            $.ajax({
                method: "POST",
                url: "{% url 'evaluaciones:activar_empresa' %}",
                data: { pk: arreglo[0], csrfmiddlewaretoken: '{{ csrf_token }}', bandera: arreglo[1] }
            }).done(function (msg) {
                location.reload();
            });
        })
    };   
      $(function () {
        $("#empresas").DataTable();
      });
    </script>
{% endblock %}