{% extends 'evaluaciones/base_empresa.html'%}
{% load static %}
{% block style %}
<!-- DataTables -->
    <link rel="stylesheet" href="{% static 'evaluaciones/plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock %}
{% block pantalla %}
<section class="content-header">
  <h1>
    Configuración
    <small>{{empresa.nombre}}</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
    <li class="active">Listar Evaluaciones</li>
  </ol>
</section>      
{% endblock %}
{% block content %}
    <section class="ms-component-section">
<div class="row">
    <!-- left column -->
    <div class="col-md-15">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-light alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <i class="fa fa-close"></i>
                    </button>
                    <p></p>
                    <strong><i class="fa fa-check"></i> {{ message }}</strong> 
                </div>
            {% endfor %}
        {% endif %}        
        <div class="box">            
            <div class="box-header">
                <br>
                <p>
                    <strong>Seleccione el puesto para poder revisar los criterios de evaluación que desea modificar</strong>
                </p>                
            </div>            
        <div class="form-group">
            <form role="form" class="form-horizontal" id="form_evaluacion" onsubmit="" enctype="multipart/form-data" method="">
            <label class="col-sm-1 control-label" for="puesto"> Puesto </label>
            <div class="col-sm-8">                
                <select name="puesto" required="" id="id_puesto" class="form-control">
                    <option value="" selected="">---------</option>
                    {% for puesto in puestos %}        
                    <option value="{{puesto.id}}">{{puesto.nombre}}</option>
                    {% endfor %}        
                </select>
            </div>
          </div>
        <br><br><br>
        </div>

        {% if periodos %}
                    {% for periodo in periodos %}
                    <div class="form-group">                       
                        <input type="text" id="periodo_id" value={{periodo.pk}} hidden>
                    </div>                    
                    {% endfor %}
        {% endif %}

        <div class="alert alert-error" role="alert" id="alert_error" hidden>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            </button>
            <p></p>
            <strong>
                <i class="fa fa-check"></i>Error¡¡¡ la suma de la columna "Ponderación" no es igual a 100.00 </strong>
        </div>

        <div class="box">            
            <div class="box-header">
              <h3 class="box-title">Listado de evaluaciones | {{empresa.nombre}}</h3>
            </div><!-- /.box-header -->
            <div class="box-body">                
                <a class="btn btn-app" onclick="modal()">
                    <i class="fa fa-save"></i> Agregar Criterios
                </a>
                <a class="btn btn-app" id="quitar_">
                    <i class="fa fa-eraser"></i> Quitar Criterios
                </a>
                <a class="btn btn-app" id="modificar_" href="{%  url 'evaluaciones:listar_evaluaciones' pk=empresa.pk %}" hidden>
                    <i class="fa fa-list"></i> Listar Criterios
                </a>
                <table id="evaluaciones" name="evaluaciones" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Criterio</th>
                            <th>Descripcion</th>
                            <th>Puesto</th>
                            <th>Empresa</th>                            
                            <th>Periodo (Año) </th>
                            <th>Periodo (Mes-Inicial) </th>
                            <th>Periodo (Mes-Final) </th>
                            <th>Ponderación</th>
                            <th>Porcentaje Meta</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>                  
                    </tbody>
                    <tfoot>
                        <tr>
                        <th>#</th>
                        <th>Criterio</th>
                        <th>Descripcion</th>
                        <th>Puesto</th>
                        <th>Empresa</th>                        
                        <th>Periodo (Año) </th>
                        <th>Periodo (Mes-Inicial) </th>
                        <th>Periodo (Mes-Final) </th>
                        <th>Ponderación</th>
                        <th>Porcentaje Meta</th> 
                        <th>Opciones</th>
                        </tr>
                    </tfoot>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
    <input type="hidden" name="GuardarNuevo" id="SaveNew" disabled="disabled" />
    <div class="box-footer">
        <div class="col-md-3 col-md-offset-6">
            <button class="btn btn-raised btn-primary pull-left" type="submit" onclick="$('#SaveNew').removeAttr('disabled');" value="SaveNew">
                <i class="fa fa-edit"></i>&nbsp;Modificar</button>
        </div>
    </div>
    </div>
</form>

</section>

<div class="example-modal">
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="alert alert-error" role="alert" id="alert_errormodal" hidden>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        </button>
                        <p></p>
                        <strong>
                            <i class="fa fa-check"></i>Error¡¡¡ seleccione al menos un criterio </strong>
                    </div>
                    <div class="col-sm-12">
                        <br>
                        <br>
                        <br>
                        <table id="criterios_table" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Id</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Criterio</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Empresa</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Descripcion</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Tipo Objetivo</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Periodo</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Fecha de Inicio</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Fecha Fin</th>                                    
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th rowspan="1" colspan="1">Id</th>
                                    <th rowspan="1" colspan="1">Criterio</th>
                                    <th rowspan="1" colspan="1">Empresa</th>
                                    <th rowspan="1" colspan="1">Descripcion</th>
                                    <th rowspan="1" colspan="1">Tipo Objetivo</th>
                                    <th rowspan="1" colspan="1">Periodo</th>
                                    <th rowspan="1" colspan="1">Fecha Inicio</th>
                                    <th rowspan="1" colspan="1">Fecha Fin</th>                                   
                                    <th rowspan="1" colspan="1">Opciones</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <form action="" role="form" form id="form_modal" class="form-horizontal" enctype="multipart/form-data">
                    <div class="box-footer">
                        <div class="col-md-3 col-md-offset-6">

                            <a class="btn btn-app" id="agregar_">
                                <i class="fa fa-save"></i> Agregar Criterios
                            </a>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
{% endblock %}
{% block script %}
<script src="{% static 'evaluaciones/plugins/jQueryUI/jquery-ui.js' %}"></script>
<script src="{% static 'evaluaciones/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'evaluaciones/plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<script type="text/javascript">
     function modal(criterio_id) {            
            $('#myModal').modal();
            $('#form_modal').on('submit', function (e) {
                activar(criterio_id);
            })
        };      
      $(function () {
        var puesto_id = 0
        var bquitar_ = document.getElementById("quitar_");
        var bmodificar_ = document.getElementById("modificar_");
        var puesto = document.getElementById("id_puesto");        
        puesto.addEventListener('change',
              function () { 
                  periodo_id = document.getElementById('periodo_id').value                    
                  var selectedOption = this.options[puesto.selectedIndex];
                  var seletedText = selectedOption.text                  
                  puesto_id = selectedOption.value;
                  const monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
                      "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
                  ];            
                  var tabla = $("#evaluaciones").DataTable({                      
                      "processing": true,
                      "destroy":true,                     
                      "ajax": {
                          type: 'post',
                          "processing": true,
                          "url": '{% url "evaluaciones:actualizar_tabla" %}',
                          "data": {
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                              empresa_id: '{{ empresa.pk }}',
                              puesto_id: puesto_id,
                          },
                          "dataSrc": ""
                      },
                      "columns": [
                          { "data": "criterio_id" },
                          { "data": "criterio__nombre" },
                          { "data": "criterio__descripcion" },
                          { "data": "puesto__nombre" },
                          { "data": "empresa__nombre" },                                                    
                          { "data": "periodo__fecha_inico",
                            render: function (d) {
                                  return moment(d).format("YYYY");
                              }
                             },
                          { "data": "periodo__fecha_inico",
                            render: function (d) {
                                  return monthNames[moment(d).format("M")-1];
                              } },
                          { "data": "periodo__fecha_fin",
                           render: function (d) {
                                  return monthNames[moment(d).format("M")-1];
                              }  },
                          { "data": "ponderacion",
                            render: function (data, type, ssrow, meta) { 
                                    return '<input type="text" id="p' + ssrow.criterio_id + '" pattern="[0-9]+(\.[0-9][0-9]?)?" tittle="Debe ser un valor de 5 digitos con dos valores decimales, ej: 100.00" required  value="'+ data + '"onclick="oculta('+ssrow.criterio_id+')"/>'                                    
                                }},                          
                          { "data": "porcentaje_meta" ,
                            render: function (data, type, ssrow, meta) { 
                                    return '<input type="text"  id="m' + ssrow.criterio_id + '" pattern="[0-9]+(\.[0-9][0-9]?)?" tittle="Debe ser un valor de 5 digitos con dos valores decimales, ej: 100.00"  required value="'+ data + '"onclick="oculta(' + ssrow.criterio_id + ')"/>'
                                }},  
                            {
                              "data": "opciones",
                              "render": function (data, type, ssrow, meta) {                                  
                                  return ' <p class="seleccionado_" id="icon_' + ssrow.criterio_id + '" hidden><i class="fa fa-check-circle"  ></i></p >';
                              }
                          },                       
                            ],
                      "language": {
                          "lengthMenu": "Mostrar _MENU_ registros por pagina",
                          "search": "Buscar:",
                          "zeroRecords": "Ningún Registro encontrado",
                          "info": "Mostrando pagina _PAGE_ de _PAGES_",
                          "infoEmpty": "Registros no disponibles",
                          "infoFiltered": "(filtrado de  _MAX_ registros totales)",
                          "paginate": {
                              "previous": "Anterior",
                              "next": "Siguiente"
                          }
                      }
                  });
                  
                  var tabla_ = $("#criterios_table").DataTable({                         
                        "processing": true,
                        "destroy": true,
                          "columnDefs": [
                          {
                              "targets": [2],
                              "visible": false,                             
                          },
                          {
                              "targets": [7],  
                              "visible": false,                           
                          },
                        
                              {
                                  "targets": [6],
                                  "visible": false,
                              },
                          
                      ],
                        "ajax": {
                            type: 'post',
                            "processing": true,
                            "url": '{% url "evaluaciones:actualizar_tablacriterios" %}',
                            "data": {
                                csrfmiddlewaretoken: '{{ csrf_token }}',
                                empresa_id: '{{ empresa.pk }}',
                                puesto_id: puesto_id,
                                periodo_id: periodo_id
                            },
                            "dataSrc": ""
                        },
                        "columns": [
                            { "data": "id" },
                            { "data": "nombre" },
                            { "data": "empresa__nombre" },
                            { "data": "descripcion" },
                            { "data": "objetivo__nombre" },  
                            {
                                "data": "periodo__fecha_inico",
                                render: function (d) {
                                    return moment(d).format("YYYY");
                                }
                            },
                            {
                                "data": "periodo__fecha_inico",
                                render: function (d) {
                                    return monthNames[moment(d).format("M") - 1];
                                }
                            },
                            {
                                "data": "periodo__fecha_fin",
                                render: function (d) {
                                    return monthNames[moment(d).format("M") - 1];
                                }
                            },                     
                            { "data": "opciones",
                               "render": function (data, type, ssrow, meta) {                                   
                                    return ' <p class="seleccionado_" id="icon_' + ssrow.id + '" hidden><i class="fa fa-check-circle"  ></i></p >';
                                }},   
                        ],                        
                        "language": {
                            "lengthMenu": "Mostrar _MENU_ registros por pagina",
                            "search": "Buscar:",
                            "zeroRecords": "Ningún Registro encontrado",
                            "info": "Mostrando pagina _PAGE_ de _PAGES_",
                            "infoEmpty": "Registros no disponibles",
                            "infoFiltered": "(filtrado de  _MAX_ registros totales)",
                            "paginate": {
                                "previous": "Anterior",
                                "next": "Siguiente"
                            }
                        }
                    });
                                              
                  if (puesto_id === 0) {
                      var tabla = $('#evaluaciones').DataTable()                      
                      if(! tabla.data().any())                        
                        $("#quitar_").hide();
                  } else {
                      $("#quitar_").show();
                  }
                  if(puesto_id != 0){
                      tabla.destroy();
                      tabla.draw();
                  }else{
                      tabla.destroy();
                  }
                  
        });          
      
      $('#criterios_table tbody').on('click', 'tr', function () {
              var tabla = $("#criterios_table").DataTable();
              $(this).toggleClass('selectedin');
              var elemento = "icon_" + tabla.row(this).data().id;
              var elemento_ = document.getElementById(elemento);              
              if (elemento_.hidden) {
                  elemento_.hidden = false;
              }
              else {
                  elemento_.hidden = true;
              }
          });

          $('#evaluaciones tbody').on('click', 'tr', function () {
              var tabla1 = $("#evaluaciones").DataTable();         
              $(this).toggleClass('selectedout');
              var elemento = "icon_" + tabla1.row(this).data()[0];
              var elemento_ = document.getElementById(elemento);
              if (elemento_.hidden) {
                  elemento_.hidden = false;
              }
              else {
                  elemento_.hidden = true;
              }
          }); 
 // Datos en la tabla Modal la tabla 1 , esta sirve de intercambio.
          $('#agregar_').click(function () {
              var tabla = $("#criterios_table").DataTable();
              var tabla1 = $("#evaluaciones").DataTable();
              var datos = tabla.rows('.selectedin').data();
               const monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
                  "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
              ];              
              var error_alert = document.getElementById("alert_errormodal")
              if (datos.length == 0) {
                  error_alert.hidden = false
              } else {
                  var puesto_id = document.getElementById('id_puesto').value                  
                  error_alert.hidden = true
                  datos.each(function (value, index) {
                      a = value                      
                      fecha = new Date(a.periodo__fecha_inico)
                      fecha2 = new Date(a.periodo__fecha_fin)
                      anio = fecha.getFullYear();
                      month1 = monthNames[fecha.getMonth()]; 
                      month2 = monthNames[fecha2.getMonth()];                       
                      tabla1.row.add([
                                     a.id, 
                                     a.nombre,
                                     a.descripcion, 
                                     puesto_id,
                                     a.empresa__nombre,                                     
                                     anio, 
                                     month1,
                                     month2,
                                     '<input type="text" id="p' + a.id + '" pattern="[0-9]+(\.[0-9][0-9]?)?" tittle="Debe ser un valor de 5 digitos con dos valores decimales, ej: 100.00" required  />', '<input type="text"  id="m' + a.id + '" pattern="[0-9]+(\.[0-9][0-9]?)?" tittle="Debe ser un valor de 5 digitos con dos valores decimales, ej: 100.00"  required />', ' <p class="seleccionado_" id="icon_' + a.id + '" hidden><i class="fa fa-check-circle"  ></i></p >']).draw().node();


                  });
                  //quitar seleccionados y hacer intercambio, regresar al modal
                  tabla.rows('.selectedin').remove().draw()
                  $('#myModal').modal('hide');
                  // actualizartabla (arreglo_nuevos        
              }
          });

          // Datos en la tabla principal la tabla 1 , esta sirve de intercambio.
          $('#quitar_').click(function () {
              var tabla1 = $("#evaluaciones").DataTable();
              const monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
                  "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
                ];         
              var tabla2 = $("#criterios_table").DataTable();
              var datos = tabla1.rows('.selectedout').data();              
              datos.each(function (value, index) {                  
                  a = value                  
                  fecha = new Date(a.periodo__fecha_inico)
                  fecha2 = new Date(a.periodo__fecha_fin)
                  anio = fecha.getFullYear();
                  month1 = monthNames[fecha.getMonth()];
                  month2 = monthNames[fecha2.getMonth()]; 
                  console.log(a)
                  //tabla2.row.add([a[0], a[1], a[2],a[3], ' <p class="seleccionado_" id="icon_' + a[0] + '" hidden><i class="fa fa-check-circle"  ></i></p >']).draw().node();

                  /* tabla2.rows.add([{
                      "id": a[0],
                      "nombre": a[1],
                      "empresa__nombre": a[4],
                      "descripcion": a[2],
                      "objetivo__nombre": a[4],
                      "periodo__fecha_inico":  a[5],
                      "periodo__fecha_fin" : a[7],
                      "opciones": '<p class="seleccionado_" id="icon_' + a[0] + '" hidden><i class="fa fa-check - circle"></i></p >'
                  }]).draw();
                  */
                      tabla2.row.add([
                      a[0],
                      a.nombre,
                      a.descripcion,
                      puesto_id,
                      a.empresa__nombre,
                      anio,
                      month1,
                      month2,
                      '<p class="seleccionado_" id="icon_' + a.id + '" hidden><i class="fa fa-check - circle"></i></p >']).draw().node();
              });
              var datos_llenos = tabla2.rows().data();
              datos_llenos.each(function (value, index) {
                  a = value                  

              });
              //quitar seleccionados y hacer intercambio, regresar al modal
              tabla1.rows('.selectedout').remove().draw()
              //alert_modallleno.hidden = true;
              // actualisartabla (arreglo_nuevos      
          });

     
    });
       
        $('#form_evaluacion').on('submit', function (e) {            
            var tabla1 = $('#evaluaciones').DataTable();
            var puesto_id = document.getElementById('id_puesto').value                 
            alert_error = document.getElementById('alert_error')
            e.preventDefault()
            var datos = tabla1.rows().data();
            var arreglo_nuevos = [];
            var ponderaciones = [];
            var metas = [];
            //Recorremos la tabla sacando los ids de los criterios y los valores de los inputs.
            //Generamos 3 arreglos para luego revisar
            centinela = " "
            datos.each(function (value, index) {
                a = value
                var pon = "p" + a.toString().split(",", 1)
                var met = "m" + a.toString().split(",", 1)
                centinela = "p" + a.toString().split(",", 1)
                arreglo_nuevos.push(a.toString().split(",", 1))
                ponderaciones.push(document.getElementById(pon).value)
                metas.push(document.getElementById(met).value)
            });
            var suma = sumar_array(ponderaciones);            
            if (suma != 100) {                
                document.getElementById(centinela).focus()
                alert_error.hidden = false;
            } else {                
                alert_error.hidden = true;
                modificar(arreglo_nuevos, ponderaciones, metas, puesto_id)
            }
        });
        function sumar_array(letras) {            
            var numbers = letras.toString().split(',').map(function (item) {                
                return parseFloat(item);
            });            
            sum = 0
            acum = 0;
            for (var i = 0; i < numbers.length; i++) {
                sum += numbers[i]
            }            
            return sum;
        }
        function oculta(id) {
                
        }
        function modificar(ids, ponderaciones, metas, puesto_id) {
            periodo_id = document.getElementById('periodo_id').value
            arreglo = []
            $.ajax({
                method: "POST",
                url: "{% url 'evaluaciones:modificar_evaluacion' %}",
                data: {
                    'ids[]': ids,
                    'ponderaciones[]': ponderaciones,
                    'metas[]': metas,
                    'puesto_id': puesto_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    empresa_id: '{{ empresa.pk }}',
                    periodo_id: periodo_id
                }
            }).done(function (msg) {
                location.reload();
            });
        } 
    </script>

<style>
    input:invalid {
    border-color: red;
}
input,
input:valid {
    border-color: #2ecc71;
}   
    tr{
        cursor: pointer;
    }
    p.seleccionado_{
        color: green;
        text-align: center
    }
    p.quitado_{
        color: green;
        text-align: center
    }
    tr.selectedin{
        background-color:#afddd1        
        }
   </style>
{% endblock %}