{% extends 'evaluaciones/base_empresa.html'%}
{% load static %}
{% block style %}
<!-- DataTables -->
    <link rel="stylesheet" href="{% static 'evaluaciones/plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock %}
{% block pantalla %}
<section class="content-header">
  <h1>
    Configuración
    <small>{{empresa.nombre}}</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
    <li class="active">Listar Evaluaciones</li>
  </ol>
</section>      
{% endblock %}
{% block content %}
    <section class="ms-component-section">
<div class="row">
    <!-- left column -->
    <div class="col-md-15">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-light alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <i class="fa fa-close"></i>
                    </button>
                    <p></p>
                    <strong><i class="fa fa-check"></i> Éxito! {{ message }}</strong> 
                </div>
            {% endfor %}
        {% endif %}        
        <div class="box">            
            <div class="box-header">
                <br>
                <p>
                    <strong>Seleccione el puesto para poder revisar los criterios de evaluación</strong>
                </p>                
            </div>            
        <div class="form-group">
            <form role="form" class="form-horizontal" id="form_evaluacion" onsubmit="" enctype="multipart/form-data" method="">
            <label class="col-sm-1 control-label" for="puesto"> Puesto </label>
            <div class="col-sm-8">
                <select name="puesto" required="" id="id_puesto" class="form-control">
                    <option value="" selected="">---------</option>
        
                    <option value="30">Supervisor Agentes</option>
        
                    <option value="33">Bodega</option>
        
                </select>
            </div>
            </form>
        </div>
        <br><br><br>
        </div>
        <div class="box">
            <div class="box-header">
              <h3 class="box-title">Listado de evaluaciones | {{empresa.nombre}}</h3>
            </div><!-- /.box-header -->
            <div class="box-body">                
                <a class="btn btn-app"  href="{% url 'evaluaciones:crear_evaluacion' pk=empresa.pk %}">
                    <i class="fa fa-save"></i> Crear Criterios
                </a>
                <a class="btn btn-app" id="quitar_" hidden >
                    <i class="fa fa-eraser"></i> Borrar Criterios
                </a>
                <a class="btn btn-app" id="modificar_" hidden>
                    <i class="fa fa-edit"></i> Modificar Criterios
                </a>
                <table id="evaluaciones" name="evaluaciones" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Criterio</th>
                            <th>Puesto</th>
                            <th>Empresa</th>
                            <th>Periodo (Año) </th>
                            <th>Periodo (Mes-Inicial) </th>
                            <th>Periodo (Mes-Final) </th>
                            <th>Ponderación</th>
                            <th>Porcentaje Meta</th>                
                        </tr>
                    </thead>
                    <tbody>                  
                    </tbody>
                    <tfoot>
                        <tr>
                        <th>#</th>
                        <th>Criterio</th>
                        <th>Puesto</th>
                        <th>Empresa</th>
                        <th>Periodo (Año) </th>
                        <th>Periodo (Mes-Inicial) </th>
                        <th>Periodo (Mes-Final) </th>
                        <th>Ponderación</th>
                        <th>Porcentaje Meta</th>                        
                        </tr>
                    </tfoot>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>
</section>
<div class="example-modal">
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="location.reload();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Activar Evalucion</h4>
                </div>
                <form action="" role="form" form id="form_modal" class="form-horizontal" enctype="multipart/form-data">
                    <div class="box-body">
                        <p>Esta seguro que desea activar la evalucion seleccionada?
                    </div>
                    <div class="box-footer">
                        <div class="col-md-3 col-md-offset-6">
                            <button class="btn btn-raised btn-success pull-left" id="activar_" type="submit" onclick="" value="Confirm">
                                <i class="fa fa-eraser"></i>&nbsp;Activar</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>


<div class="example-modal">
    <div class="modal fade" id="modalPregunta">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="location.reload();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Activar Evaluacion</h4>
                </div>
                <form action="" role="form" form id="form_modal" class="form-horizontal" enctype="multipart/form-data">
                    <div class="box-body">
                        <p>Esta seguro que desea activar la evalucion seleccionada?
                    </div>
                    <div class="box-footer">
                        <div class="col-md-3 col-md-offset-6">
                            <button class="btn btn-raised btn-success pull-left" id="activar_" type="submit" onclick="" value="Confirm">
                                <i class="fa fa-eraser"></i>&nbsp;Activar</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
{% endblock %}
{% block script %}
<script src="{% static 'evaluaciones/plugins/jQueryUI/jquery-ui.js' %}"></script>
<script src="{% static 'evaluaciones/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'evaluaciones/plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<script type="text/javascript">   

     function modal(criterio_id) {
            console.log(criterio_id)
            $('#myModal').modal();
            $('#form_modal').on('submit', function (e) {
                activar(criterio_id);
            })
        };      
      $(function () {
        var puesto_id = 0
        var bquitar_ = document.getElementById("quitar_");
        var bmodificar_ = document.getElementById("modificar_");
        var puesto = document.getElementById("id_puesto");        
        puesto.addEventListener('change',
              function () {
                  var selectedOption = this.options[puesto.selectedIndex];                  
                  puesto_id = selectedOption.value;
                  const monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
                      "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
                  ];            
                  var tabla = $("#evaluaciones").DataTable({
                      "processing": true,
                      "ajax": {
                          type: 'post',
                          "processing": true,
                          "url": '{% url "evaluaciones:actualizar_tabla" %}',
                          "data": {
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                              empresa_id: '{{ empresa.pk }}',
                              puesto_id: puesto_id,
                          },
                          "dataSrc": ""
                      },
                      "columns": [
                          { "data": "criterio_id" },
                          { "data": "criterio__nombre" },
                          { "data": "puesto__nombre" },
                          { "data": "empresa__nombre" },
                          { "data": "periodo__fecha_inico",
                            render: function (d) {
                                  return moment(d).format("YYYY");
                              }
                             },
                          { "data": "periodo__fecha_inico",
                            render: function (d) {
                                  return monthNames[moment(d).format("M")-1];
                              } },
                          { "data": "periodo__fecha_fin",
                           render: function (d) {
                                  return monthNames[moment(d).format("M")-1];
                              }  },
                          { "data": "ponderacion" },
                          { "data": "porcentaje_meta" },                          
                      ],
                      "language": {
                          "lengthMenu": "Mostrar _MENU_ registros por pagina",
                          "search": "Buscar:",
                          "zeroRecords": "Ningún Registro encontrado",
                          "info": "Mostrando pagina _PAGE_ de _PAGES_",
                          "infoEmpty": "Registros no disponibles",
                          "infoFiltered": "(filtrado de  _MAX_ registros totales)",
                          "paginate": {
                              "previous": "Anterior",
                              "next": "Siguiente"
                          }
                      }
                  });        
                  if(puesto_id != 0){
                      tabla.destroy();
                      tabla.draw();
                  }else{
                      tabla.destroy();
                  }
        });          
      
                     
        /*
        $('#evaluaciones tbody').on('click', 'tr', function () {                       
              $(this).toggleClass('selectedin'); 
                var elemento = "icon_" + tabla.row(this).data()[0];
                var elemento_ = document.getElementById(elemento);
                console.log(elemento)
                console.log(elemento_)
                if (elemento_.hidden) {
                    elemento_.hidden = false;
                    }
                else {
                elemento_.hidden = true;
                }                          
          });  
    */
        // Datos en la tabla principal la tabla 1 , esta sirve de intercambio.
    $('#quitar_').click(function () {
        console.log('presiono borrar')
        var datos = tabla.rows().data();
        var tamaño = datos.length;
        var arreglo_eliminar = []
        if(tamaño == 0){
            alert('No existen Evaluaciones en función del puesto seleccionado')
        }else {
            datos.each(function (value, index) {
                a = value                 
                arreglo_eliminar.push(a.toString().split(",", 1))                
            });
            borrar(datos,puesto_id)
        }    
        }); 

          function borrar(ids, puesto_id) {
              periodo_id = document.getElementById('periodo_id').value
              $.ajax({
                  method: "POST",
                  url: "{% url 'evaluaciones:borrar_evaluaciones' %}",
                  data: {
                      'ids[]': ids,                      
                      'puesto_id': puesto_id,
                      csrfmiddlewaretoken: '{{ csrf_token }}',
                      empresa_id: '{{ empresa.pk }}',
                      periodo_id: periodo_id
                  }
              }).done(function (msg) {
                  location.reload();
              });
          }  
    });
    </script>

<style>       
      p.seleccionado_{
        color: green;
        text-align: center
    }
</style>
{% endblock %}