{% extends 'evaluaciones/base_empresa.html'%}
{% load static %}
{% block style %}
<!-- DataTables -->
    <link rel="stylesheet" href="{% static 'evaluaciones/plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock %}
{% block pantalla %}
<section class="content-header">
  <h1>
    Configuración
    <small>Objetivos</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
    <li class="">Objetivos</li>
    <li class="active">Listar Objetivos</li>
  </ol>
</section>
{% endblock %}
{% block content %}
    <section class="ms-component-section">
<div class="row">
    <!-- left column -->
    <div class="col-md-10">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-light alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <i class="fa fa-close"></i>
                    </button>
                    <p></p>
                    <strong><i class="fa fa-{% if message.tags == "success" %}check{%else%}close{%endif%}">&nbsp;</i>{{ message }}</strong> 
                </div>

            {% endfor %}
        {% endif %}
        <div class="box">
            <div class="box-header">
              <h3 class="box-title">Listado de Objetivos registrados</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <table id="empresas" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for objetivo in object_list %}
                    {% if objetivo.estado %}
                        <tr>
                            <td>{{ objetivo.id }}</td>
                            <td>{{ objetivo.nombre }}</td>
                            <td> 
                            <small class="label pull-center bg-green">Activo</small>
                            </td>
                            <td>
                                {% if 'evaluaciones.evaluaciones_listasdesplegables' in perms %}
                                <a href="{% url 'evaluaciones:crear_objetivos' pk=empresa.id %}" class="btn-circle btn-circle-xs btn-circle-raised btn-circle-info" data-toggle="tooltip" data-placement="top" title="Agregar objetivo"><i class="fa fa-plus text-green"></i></a> &nbsp;&nbsp;
                                <a href="{% url 'evaluaciones:actualizar_objetivos' pk=objetivo.id id=empresa.id %}" class="btn-circle btn-circle-xs btn-circle-raised btn-circle-info" data-toggle="tooltip" data-placement="top" title="Editar objetivo"><i class="fa fa-edit"></i></a> &nbsp;&nbsp;
                                {% endif %}
                                {% if 'evaluaciones.eliminar_listasdesplegables' in perms %}
                                <a href="{% url 'evaluaciones:borrar_objetivos' pk=objetivo.id id=empresa.id %}" class="btn-circle btn-circle-xs btn-circle-raised btn-circle-error" data-toggle="tooltip" data-placement="top" title="Eliminar objetivo"><i class="fa fa-trash text-red"></i></a>
                                {% endif %}                                 
                            </td>
                        </tr>
                    {% else %}
                        <tr class="background: red">
                            <td>{{ objetivo.id }}</td>
                            <td>{{ objetivo.nombre }}</td>
                            <td>                            
                            <a href="#" id="id_{{objetivo.pk}}" name="activar" onclick="modal('{{ objetivo.pk }}')" data-toggle="tooltip" data-placement="top"
                                title="Activar Objetivo">
                                <small class="label pull-center bg-red">Inactivo</small>
                            </a>
                            </td>
                            <td>
                                 {% if 'evaluaciones.evaluaciones_listasdesplegables' in perms %}
                                <a href="{% url 'evaluaciones:crear_objetivos' pk=empresa.id %}" class="btn-circle btn-circle-xs btn-circle-raised btn-circle-info"
                                    data-toggle="tooltip" data-placement="top" title="Agregar objetivo">
                                    <i class="fa fa-plus text-green"></i>
                                </a> &nbsp;&nbsp;
                                {% endif %}                                
                            </td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                        </tr>
                    </tfoot>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>
</section>
<div class="example-modal">
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="location.reload();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Borrar Objetivo</h4>
                </div>
                <form action="" role="form" form  id="form_modal" class="form-horizontal" enctype="multipart/form-data"  >
                    <div class="box-body">
                        <p>Esta seguro que desea activar el objetivo seleccionado?                            
                    </div>                   
                    <div class="box-footer">
                        <div class="col-md-3 col-md-offset-6">
                            <button class="btn btn-raised btn-success pull-left" id="activar_" type="submit" onclick=""
                                value="Confirm">
                                <i class="fa fa-eraser"></i>&nbsp;Activar</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
<!-- /.example-modal -->
{% endblock %}
{% block script %}
<script src="{% static 'evaluaciones/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'evaluaciones/plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<script> 
        function  modal(objetivo_id) {
            console.log(objetivo_id)            
            $('#myModal').modal();
            $('#form_modal').on('submit', function (e) {
                 activar(objetivo_id);
            })
        }; 
        function activar(objetivo_id) {
            console.log('intentaremos guardar');
            $.ajax({
                method: "POST",
                url: "{% url 'evaluaciones:activar_objetivo' %}",
                data: { pk: objetivo_id, csrfmiddlewaretoken: '{{ csrf_token }}', empresa_id: '{{ empresa.pk }}' }
            }).done(function (msg) {
                location.reload();
            });            
        }       
        $("#empresas").DataTable({
            "fnRowCallback":function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
            if( aData[3] == "inactivo" )
            {
              $('tr', nRow).css('background-color', '#f2dede');  
            }
            }
        });
    
    </script>
{% endblock %}