{% load static %}
{% block content %}
<div class="row">
    <!-- left column -->
    <div class="col-lg-9">
        <!-- general form elements -->       
        <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Cambiar contraseña</h3>              
            </div><!-- /.box-header -->
                <!-- form start -->
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-light alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <i class="fa fa-close"></i>
                    </button>
                    <p></p>
                    <strong><i class="fa fa-{% if message.tags == "success" %}check{%else%}close{%endif%}">&nbsp;</i>{{ message }}</strong> 
                </div>

            {% endfor %}
        {% endif %}
        <div class="box-body">
            <form role="form" method="post">
                {%csrf_token%}
              <div role="form" class="form-group has-feedback" method="post">
                <input type="password" id="id_old_password" name="old_password" class="form-control" placeholder="Contraseña actual" onKeyUp="validaIguales();"  required>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
              </div>
              <div role="form" class="form-group has-feedback" method="post">
                <input type="password" id="id_password" name="password" class="form-control" placeholder="Nueva contraseña" onKeyUp="validaIguales();" required>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <div id="div_validacion2" class="text-red"></div>
              </div>
              <div id="div_passrepeat" class="form-group has-feedback">
                <input type="password" id="id_password_repeat" name="password_repeat" class="form-control" placeholder="Repetir contraseña" onKeyUp="validaIguales();" required>
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                <div id="div_validacion" class="text-red"></div>
              </div>
              <div class="row">
                <div class="col-xs-5">
                  <button id="btnGuardar" type="button" onClick="ChangePassword();" class="btn btn-primary btn-block btn-flat" disabled><i class="fa fa-save">&nbsp;</i>Restablecer</button>
                </div><!-- /.col -->
              </div>
            </form>
        </div>
        </div>
    </div>
</div>
{% endblock%}

{% block script %}
<script>
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' // optional
        });
      });

      function validaIguales(){
        regex = /^(?=.*\d)(?=.*[a-zA-Z])[0-9a-zA-Z]{8,24}$/;
        //alert(regex.test($("#id_password").val()))
        bandera = true;
        if($("#id_password").val().trim() || $("#id_password_repeat").val().trim()){
            if($("#id_password").val().length < 8 || !regex.test($("#id_password").val())){
                $("#div_validacion2").removeClass("text-green");
                $("#div_validacion2").addClass("text-red");
                $("#div_validacion2").html("<li>Alfanumérico y de 8-24 de longitud.</li>");
                bandera = false;
            }else if($("#id_password").val() == $("#id_old_password").val()){
                $("#div_validacion2").removeClass("text-green");
                $("#div_validacion2").addClass("text-red");
                $("#div_validacion2").html("<li>La contraseña nueva y la actual no pueden ser iguales.</li>");
                bandera = false;
            }else{
                $("#div_validacion2").removeClass("text-red");
                $("#div_validacion2").addClass("text-green");
                $("#div_validacion2").html("");
            }
            
            if($("#id_password_repeat").val() == $("#id_password").val() && regex.test($("#id_password").val())){
                $("#div_passrepeat").removeClass("has-error");
                $("#div_passrepeat").addClass("has-success");
                $("#div_validacion").removeClass("text-red");
                $("#div_validacion").addClass("text-green");
                $("#div_validacion").html("<li>Contraseñas coinciden.</li>");
                
            }else{
                $("#div_passrepeat").removeClass("has-success");
                $("#div_passrepeat").addClass("has-error");
                $("#div_validacion").removeClass("text-green");
                $("#div_validacion").addClass("text-red");
                $("#div_validacion").html("<li>Contraseñas no coinciden.</li>");
                bandera = false;
                
            }
        }else{
            $("#div_validacion2").html("");
            bandera = false;
            $("#btnGuardar").attr('disabled','disabled');
        }
        if (bandera){
          $("#btnGuardar").removeAttr('disabled');
        }else{
          $("#btnGuardar").attr('disabled','disabled');
        }
      }
    </script>
    <script type="text/javascript">
$("#id_empresa").val("{{empresa.pk}}");
$("#id_empresa").attr('disabled','disabled');
function ChangePassword(){
  $.ajax({
        method: "POST",
        url: "{% url 'evaluaciones:change_password' pk=request.user.pk id=empresa.pk %}",
        data: {csrfmiddlewaretoken: '{{ csrf_token }}', old_password: $("#id_old_password").val(), password: $("#id_password").val(), password_repeat: $("#id_password_repeat").val()}
      })
        .done(function(msg) {
            $("#id_old_password").val("");
            $("#id_password").val("");
            $("#id_password_repeat").val("");
            $("#btnGuardar").attr('disabled','disabled');
            alert(msg);
        })
        .fail(function(msg) {
          alert("Error al actualizar la contraseña");
        });
    }
</script>
{% endblock %}