{% extends 'evaluaciones/base_empresa.html'%}
{% load static %}
{% block style %}
<!-- DataTables -->
    <link rel="stylesheet" href="{% static 'evaluaciones/plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock %}
{% block pantalla %}
<section class="content-header">
  <h1>
    Configuración
    <small>Empresas</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
    <li class="">Empresas</li>
    <li class="active">Listar Periodos</li>
  </ol>
</section>      
{% endblock %}
{% block content %}
    <section class="ms-component-section">
<div class="row">
    <!-- left column -->
    <div class="col-md-10">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-light alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <i class="fa fa-close"></i>
                    </button>
                    <p></p>
                    <strong><i class="fa fa-check"></i> Éxito! {{ message }}</strong> 
                </div>

            {% endfor %}
        {% endif %}
        <div class="box">
            <div class="box-header">
              <h3 class="box-title">Listado de periodos registradas</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <table id="empresas" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>fecha Inicio</th>
                            <th>fecha Fin</th>
                            <th>Estado </th>
                            <th>Frecuencia</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for periodo in object_list %}
                        <tr>
                            <td>{{periodo.id}}</td>
                            <td>{{periodo.fecha_inico}}</td>
                            <td>{{periodo.fecha_fin}}</td>
                            {% if periodo.activo %}
                            <td><i class="fa fa-arrow-circle-up fa-2x text-green" ></i> </td>
                            {% else %}
                            <td><i class="fa fa-arrow-circle-down fa-2x text-red"></i></td>
                             {% endif %}
                            <td>Cada {{ periodo.tiempo}} Meses</td>
                            <td>
                                <a href="{% url 'evaluaciones:crear_periodo' pk=empresa.id %}" class="btn-circle btn-circle-xs btn-circle-raised btn-circle-info" data-toggle="tooltip" data-placement="top" title="Agregar empresa"><i class="fa fa-plus text-green"></i></a> &nbsp;&nbsp;
                               
                            </td>
                            
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>fecha Inicio</th>
                            <th>fecha Fin</th>
                            <th>Estado </th>
                            <th>Duracion</th>
                            <th>Opciones</th>
                        </tr>
                    </tfoot>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>
</section>
{% endblock %}
{% block script %}
<script src="{% static 'evaluaciones/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'evaluaciones/plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<script>
      $(function () {
        $("#empresas").DataTable();
      });
    </script>
{% endblock %}