{% extends 'evaluaciones/base_empresa.html'%}
{% load static %}
{% load evaluaciones_tags %}
{% block style %}
<!-- DataTables -->
    <link rel="stylesheet" href="{% static 'evaluaciones/plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock %}
{% block pantalla %}
<section class="content-header">
  <h1>
    Configuración
    <small>{{empresa.nombre}}</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
    <li class="active">Listar usuarios</li>
  </ol>
</section>      
{% endblock %}
{% block content %}
    <section class="ms-component-section">
<div class="row">
    <!-- left column -->
    <div class="col-md-10">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-light alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <i class="fa fa-close"></i>
                    </button>
                    <p></p>
                    <strong><i class="fa fa-check"></i> Éxito! {{ message }}</strong> 
                </div>

            {% endfor %}
        {% endif %}
        <div class="box">
            <div class="box-header">
              <h3 class="box-title">Listado de usuarios | {{empresa.nombre}}</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <table id="empresas" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th width="20%">Código colaborador</th>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for object in object_list %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{ object.codigo }}</td>
                            <td><a href="#" onclick="InfoUsuario('{{object.codigo}}', '{{object.nombre_completo}}', '{{object.usuario.username}}', '{{object.usuario.email}}', '{{object.supervisor.nombre_completo}}', '{{object.puesto}}', '{{object.departamento}}', '{{object.sucursal}}', '{{object.usuario.last_login}}', '{{object.fecha_ult_mod_password}}', '{{object.grupo.name|getgroupName:"|"}}');">{{ object.nombre_completo}}</a></td>
                            <td id="td_{{object.usuario.pk}}{{object.pk}}">
                            <a href="#" onclick = "AbrirModal('{% if object.usuario.is_active %}Activo{%else%}Inactivo{%endif%}','{% url 'evaluaciones:estado_usuario' pk=object.usuario.pk id=empresa.pk %}','{{object.nombre_completo}}','{{object.usuario.pk}}{{object.pk}}')" class="btn-circle btn-circle-xs btn-circle-raised btn-circle-error" data-toggle="tooltip" data-placement="top" title="{% if object.usuario.is_active %}Inactivar{%else%}Activar{%endif%} usuario">{% if object.usuario.is_active %}<small class="label bg-green">Activo</small>{%else%}<small class="label bg-red">Inactivo</small>{%endif%}
                            </a>
                            </td>
                            <td>
                                <a href="{% url 'evaluaciones:crear_usuario' empresa.pk%}" class="text-green" data-toggle="tooltip" data-placement="top" title="Agregar usuario"><i class="fa fa-plus">&nbsp;&nbsp;</i></a>
                                <a {% if not object.usuario.is_active %}hidden{% endif %} id="edit_{{object.usuario.pk}}{{object.pk}}" href="{% url 'evaluaciones:actualiza_usuario' pk=object.pk id=empresa.pk %}" class="text-purple" data-toggle="tooltip" data-placement="top" title="Editar usuario"><i id="cicon_{{object.usuario.pk}}{{object.pk}}" class="fa fa-edit">&nbsp;&nbsp;</i></a>
                                <a {% if not object.usuario.is_active %}hidden{% endif %} href="#" onclick = "AbrirModal2('{% url 'evaluaciones:notificacion_password' pk=object.pk id=empresa.pk %}','{{object.usuario.email}}')" class="text-blue" data-toggle="tooltip" data-placement="top" title="Reestablecer contraseña"><i class="fa fa-key">&nbsp;&nbsp;</i></a> 
                            </td>
                        </tr>
                    {% empty %}
                        
                            <div align="center">
                                <a href="{% url 'evaluaciones:crear_usuario' empresa.pk%}" class="btn btn-sm btn-raised btn-success" data-toggle="tooltip" data-placement="top" title="Agregar Usuario"><i class="fa fa-plus"></i>&nbsp;&nbsp;  Agregar</a>
                            </div>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Empresa</th>
                            <th>Acciones</th>
                        </tr>
                    </tfoot>
                </table>
                <div class="example-modal">
                  <div class="modal fade" id="myModal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title">Cambiar estado</h4>
                        </div>
                          <div class="modal-body" id="mbody">
                          </div>
                          <form id="form_estado" method="post">
                            {%csrf_token%}
                          
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                            <button type="submit" id="btnGuardar" class="btn btn-primary">Aceptar</button>
                          </div>
                          </form>
                      </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                  </div><!-- /.modal -->
                </div><!-- /.example-modal -->
                <div class="example-modal">
                  <div class="modal fade" id="myModal2">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title">Reestablecer contraseña</h4>
                        </div>
                          <div class="modal-body" id="mbody2">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                            <button type="button" id="btnGuardar2" data-dismiss="modal" class="btn btn-primary">Aceptar</button>
                          </div>
                      </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                  </div><!-- /.modal -->
                </div><!-- /.example-modal -->
                <div class="example-modal">
                  <div class="modal fade" id="myModal3">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title">Detalle del usuario</h4>
                        </div>
                          <div class="modal-body" id="mbody3">
                            <table id="userDetail" class="table table-bordered table-striped">
                              <thead>
                                  <tr>
                                      <th width="30%">Campo</th>
                                      <th>Valor</th>
                                  </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>Código</td>
                                  <td id="td_codigo"></td>
                                </tr>
                                <tr>
                                  <td>Nombre</td>
                                  <td id="td_nombre"></td>
                                </tr>
                                <tr>
                                  <td>Usuario</td>
                                  <td id="td_usuario"></td>
                                </tr>
                                <tr>
                                  <td>Perfil</td>
                                  <td id="td_perfil"></td>
                                </tr>
                                <tr>
                                  <td>Correo</td>
                                  <td id="td_correo"></td>
                                </tr>
                                <tr>
                                  <td>Supervisor</td>
                                  <td id="td_supervisor"></td>
                                </tr>
                                <tr>
                                  <td>Puesto</td>
                                  <td id="td_puesto"></td>
                                </tr>
                                <tr>
                                  <td>Departamento</td>
                                  <td id="td_departamento"></td>
                                </tr>
                                <tr>
                                  <td>Sucursal</td>
                                  <td id="td_sucursal"></td>
                                </tr>
                                 <tr>
                                  <td>Última sesión</td>
                                  <td id="td_ultima_sesion"></td>
                                </tr>
                                <tr>
                                  <td>Último cambio contraseña</td>
                                  <td id="td_ultimo_cambio_password"></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="modal-footer">
                            <button type="button" id="btnGuardar3" data-dismiss="modal" class="btn btn-primary">Aceptar</button>
                          </div>
                      </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                  </div><!-- /.modal -->
                </div><!-- /.example-modal -->
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>
</section>
{% endblock %}
{% block script %}
<script src="{% static 'evaluaciones/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'evaluaciones/plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<script>
    $(function () {
        $("#empresas").DataTable();
    });

    function AbrirModal(estado, url, nombre, tdid){
        estado = estado == 'Activo' ? 'Inactivo' : 'Activo';
        //alert('Se actualizará el estado del usuario a <b>'+ estado +'</b> del colaborador "'+nombre+'"')
        $('#mbody').html('Se actualizará el estado del usuario a <b>'+ estado +'</b> del colaborador "'+nombre+'"');
        //$('#btnGuardar').attr('onclick',"CambiarEstado('"+url+"','"+tdid+"')")
        $("#form_estado").attr("action",url)
        $('#myModal').modal();
    }
    function AbrirModal2(url, nombre){
        //alert('Se actualizará el estado del usuario a <b>'+ estado +'</b> del colaborador "'+nombre+'"')
        $('#mbody2').html('Esto enviará un correo electrónico a <b>"'+nombre+'"</b> con las instrucciones para reestablecer la contraseña. ¿Desea continuar?');
        $('#btnGuardar2').attr('onclick',"Reestablecer('"+url+"')")
        $('#myModal2').modal();
    }
    function CambiarEstado(url, tdid){
        $("#form_estado").attr("action",url)
        /*var color;
        $.ajax({
          method: "POST",
          url: url,
          data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
        })
          .done(function( msg ) {
            color = msg == 'Activo' ? 'green' : 'red';
            icono = msg == 'Activo' ? 'fa fa-user-times text-red' : 'fa fa-user text-green';
            $('#td_'+tdid).html('<small class="label bg-'+ color +'">'+msg+'</small>')
            $('#eicon_'+tdid).attr('class',icono);
            if(msg=='Activo'){
                $('#cicon_'+tdid).html('&nbsp;&nbsp;')
                $('#edit_'+tdid).removeAttr('hidden');
            }else{
                $('#cicon_'+tdid).html('')
                $('#edit_'+tdid).attr('hidden','true');
            }
            location.href = "";
          });*/
    }
    function Reestablecer(url){
        var color;
        $("#myModalLoader").modal();
        var request = $.ajax({
          method: "POST",
          url: url,
          data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
        })
        request.done(function(msg) {
            $("#myModalLoader").modal('hide');
            alert(msg);
          });
        request.fail(function(jqXHR, textStatus) {
            $("#myModalLoader").modal('hide');
            alert( "Reestablecer contraseña falló: " + textStatus);
          });
    }
    function InfoUsuario(codigo, nombre, usuario, correo, supervisor, puesto, departamento, sucursal, ultima_sesion, ultimo_cambio_password, perfil){
      $("#td_codigo").html(codigo);
      $("#td_nombre").html(nombre);
      $("#td_usuario").html(usuario);
      $("#td_perfil").html(perfil);
      $("#td_correo").html(correo);
      $("#td_supervisor").html(supervisor);
      $("#td_puesto").html(puesto);
      $("#td_departamento").html(departamento);
      $("#td_sucursal").html(sucursal);
      $("#td_ultima_sesion").html(ultima_sesion);
      $("#td_ultimo_cambio_password").html(ultimo_cambio_password);

      $('#myModal3').modal();
    }   
</script>
{% endblock %}